<div class="example-container">
<form [formGroup]="formSearch">
    <mat-form-field appearance="fill">
        <mat-label>Elige una comuna:</mat-label>
         <select matNativeControl formControlName="comuna">
            <option *ngFor="let comuna of comunas" [value]="comuna.id">
                {{comuna.value}}
            </option>
         </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>
                Ingrese nombre local:
            </mat-label>
            <input matInput id="nombreLocal"  formControlName="nombreLocal" />
        </mat-form-field>
    <button mat-button color="primary" (click)="search()"> Buscar </button>
</form>
<div *ngIf="isSearching">
    <mat-spinner></mat-spinner>
</div>

<span *ngIf="farmacias.length==0">No se encontraron resultados... <mat-icon aria-hidden="false" aria-label="Example home icon">sentiment_dissatisfied</mat-icon></span>


<!--código separable en componentes distintos-->
<div *ngFor="let farm of farmacias" >
<mat-card  class="example-card">
    <mat-card-header>
      <mat-icon>gps_fixed</mat-icon>
      <mat-card-title>Farmacia encontrada - {{farm.local_nombre}}</mat-card-title>
      <mat-card-subtitle>Comuna {{farm.comuna_nombre}} - Longitud:  {{farm.local_lng}} / Latitud: {{farm.local_lat}}
        <button mat-button color="primary" (click)="verMapa(farm.local_lng, farm.local_lat)">Ver Mapa</button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="map{{farm.local_lng+farm.local_lat}}" class="map-container"> </div>
    </mat-card-content>
  </mat-card>
</div>

</div>