<div class="example-container">
<form [formGroup]="formSearch">
    <mat-form-field appearance="fill">
        <mat-label>Elige una comuna:</mat-label>
         <select matNativeControl formControlName="comuna">
            <option *ngFor="let opt of comunas" [value]="opt.id">
                {{opt.value}}
                </option>
         </select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>
                Ingrese nombre local:
            </mat-label>
            <input matInput id="nombreLocal"  formControlName="nombreLocal" />
        </mat-form-field>
    <button mat-button color="primary" (click)="search()"> Buscar </button>
</form>
<!--
<form [formGroup]="formFounded">
    <mat-form-field appearance="outline">
        <mat-label>Latitud:</mat-label>
        <input matInput id="latitud" formControlName="latitud" maxlength="9"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Longitud:</mat-label>
        <input matInput id="longitud"   formControlName="longitud" maxlength="9" />
    </mat-form-field>
</form>
-->

<div *ngFor="let farm of farmacias" >
<mat-card  class="example-card">
    <mat-card-header>
      <mat-icon>gps_fixed</mat-icon>
      <mat-card-title>Farmacia encontrada - {{farm.local_nombre}}</mat-card-title>
      <mat-card-subtitle>Comuna {{farm.comuna_nombre}} - Longitud:  {{farm.local_lng}} / Latitud: {{farm.local_lat}}
        <button mat-button color="primary" (click)="verMapa(farm.local_lng, farm.local_lat)">Ver Mapa</button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="map{{farm.local_lng+farm.local_lat}}" class="map-container"> </div>
    </mat-card-content>
  </mat-card>
</div>

</div>